body
{

	background-image: url("bodyyy.jpg");
	background-repeat: repeat;	
}
a
{
	color: blue;
}
a:hover
{
	color:green;
}
a:link
{
	background-color: pink;
}
a:active
{
	color:black; 
}
h1
{
	color: blue;
}